    <div class="d-flex flex-column col-xl-3 col-lg-12 col-sm-12 align-items-center" id="col3">
      <h3 class="mb-5 mt-3 mb-5">Performance</h3>
      <div style="height: 400px; width: 400px;">
        <img src="/images/linechart.png" style="height: 400px; width: 400px; opacity: 0.7">
      </div>
      <div class="d-grid gap-2 mt-5">
         <button class="btn btn-light btn-lg" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" style="opacity: 0.6" id="gpt" type="button">portfolioGPT</button>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasRightLabel">portfolioGPT say:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
        <div class="offcanvas-body">
        {{!-- {{{resGPT}}} --}}
                <div>
                
                {{#each coinPriceArr as |coin|}}
                <h1 id="buy-{{coin.[0]}}" value=`{{coin.[0]}}`>{{coin.[0]}} | ${{coin.[1]}}</h1>
                {{/each}}
                </div>
        </div>
    </div>