<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 50px; font-family: Rubik Wet Paint; color: gold">Crypt Keeper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-warning mx-2">Deposit</button>
          </li>
          <li>
            <button type="button" class="btn btn-outline-warning mx-2">Withdrawal</button>
          </li>
          <li>
            <button type="button" class="btn btn-outline-warning mx-2" id="logout">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>

  <div class="container-fluid text-center" style="background: linear-gradient(to left, #232526, #414345);">
  <div class="row d-flex">

    <div class="d-flex flex-column col-xl-3 col-lg-6 col-sm-12 align-items-center bg-secondary" style="height: 100vh;" id="col1">
        <h3 class="mb-5 mt-3 text-light" style="text-transform: capitalize;">{{user.user_name}} Portfolio</h3>
        <div class="mb-5 mx-4" style="height: 400px; width: 400px;">
          <canvas id="chart" style="height: 400px; width: 400px;"></canvas>
        </div>
        <h5 id="port-value" style="color: white; padding: 10px; border: 5px solid; border-color: white; border-radius: 20px;" value="{{mult-sum  prices quantities}}">Portfolio Value: ${{mult-sum  prices quantities}}</h5>
        <div class="d-grid gap-3 mt-5">

            {{> buy}}  

        <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger dropdown-toggle" style="opacity: 0.8" data-bs-toggle="dropdown" aria-expanded="false">
            Sell
        </button>
        <ul class="dropdown-menu" style="width: 300px;">
            <div class="input-group mb-3">
                <button class="btn btn-outline-danger" id="sell" type="button">Sell</button>
                <select class="form-select" id="sell-options" aria-label="Example select with button addon">
                <option selected>Pick a coin...</option>
                {{#each dataArr as |coin|}}
                <option id="sell-{{coin.[0]}}" value="{{coin.[0]}}">{{coin.[0]}}</option>
                {{/each}}
            </select>
            </div>            
        </ul>
        </div>
            <button class="btn btn-light" id="refresh" type="button" style="opacity: 0.6;"><i class="bi bi-arrow-repeat mx-2"></i>Refresh</button>
        </div>
    </div>

    <div class="d-flex flex-column col-xl-6 col-lg-6 col-sm-12 align-items-center" id="col2">
      <h3 class="mb-5 mt-3 w-100">Market Dashboard</h3>
      <ul class="list-group list-group-horizontal justify-content-center mb-3 w-100">
        <li class="list-group-item bg-light text-dark flex-fill" style="opacity: 0.6; width: 200px;"><i class="bi bi-coin"></i></li>
        <li class="list-group-item bg-light text-dark flex-fill" style="opacity: 0.6; width: 200px;">COIN</li>
        <li class="list-group-item bg-light text-dark flex-fill" style="opacity: 0.6; width: 200px;">PRICE</li>
        <li class="list-group-item bg-light text-dark flex-fill" style="opacity: 0.6; width: 200px;">MARKET CAP</li>
        <li class="list-group-item bg-light text-dark flex-fill" style="opacity: 0.6; width: 200px;">24H VOL</li>
      </ul>
      {{#each dataArr as |coin|}}
      <ul class="list-group list-group-horizontal-sm justify-content-center align-items-center mb-3 w-100">
        <li class="list-group-item flex-fill bg-light" style="width: 200px;"><img style="height: 30px; width: 30px;"src="/images/{{coin.[0]}}.png"</li>
        <li class="list-group-item flex-fill" style="width: 200px;">{{coin.[0]}}</li>
        <li class="list-group-item flex-fill" style="width: 200px;">${{coin.[1].usd}}</li>
        <li class="list-group-item flex-fill" style="width: 200px;">${{large-number coin.[1].usd_market_cap}}</li>
        <li class="list-group-item flex-fill" style="width: 200px;">${{large-number coin.[1].usd_24h_vol}}</li>
      </ul>
      {{/each}}
    </div>

        {{> GPT}}
      
    </div>
  </div>
  </div>

</main>


<script>
    const ctx = document.getElementById('chart');
    Chart.defaults.global.defaultFontColor = "white"

    let portfolioChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
        labels: [{{#each coinArr}} `{{this}}`, {{/each}}],
            datasets: [{
                label: 'Value $:',
                data: [{{mult-array prices quantities}}],
                backgroundColor: [ '#f8b400', '#faf5e4', '#2c786c', '#004445'],
            }]
        }
    });
{{!-- {{#each dataArr}} {{this.[1].usd}}, {{/each}} --}}
</script>
<script src="/js/main.js"></script> 
</body>
</html>